<div #viewItemModal class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" (mouseover)="AssignValues(date, time, category, patient, reason, details)">
  
  <div class="modal-dialog" role="document">
    
    <div class="modal-content">
      
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <table>
          <div>
            <tr>
              <td>
                <label for="date">Date</label>
              </td>
              <td>
                <input #date type="date" id="date" readonly>
              </td>
            </tr>
            <tr>
              <td>
                <label for="time">Time</label>
              </td>
              <td>
                <input #time type="time" id="time" readonly>
              </td>
            </tr>
            <tr>
              <td>
                <label for="category">Category</label>
              </td>
              <td>
                <input #category type="text" id="category" readonly>
              </td>
            </tr>
          </div>
          <div [hidden]="hiddenAppointment">
            <tr>
              <td>
                <label for="details">Details</label>
              </td>
              <td>
                <input #details type="text" id="details" readonly>
                </td>
            </tr>
          </div>
        
          <div [hidden]="hiddenOthers">
            <tr>
              <td>
                <label for="patient">Patient</label>
              </td>
              <td>
                <input #patient type="text" id="patient" readonly>
              </td>
            </tr>
            <tr>
              <td>
                <label for="reason">Reason</label>
              </td>
              <td>
                <input #reason type="text" id="reason" readonly>
              </td>
            </tr>
          </div>
        </table>
        
      </div>

      <div class="modal-footer">
        <div>
          <button (click)="delete(time, date)">Cancel Event</button>
        </div>
      </div>

    </div>

  </div>
</div>