<div #addItemModal class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <table>
          <tr>
            <td>
              <input (click)="getModeOfForm(radioOneDay)" #radioOneDay type="radio" id="one-day" name="add-item-mode" value="one-day" checked="true">
              <label for="one-day">One-Day</label>
            </td>
            <td>
              <input (click)="getModeOfForm(radioMultiDay)" #radioMultiDay type="radio" id="multi-day" name="add-item-mode" value="multi-day">
              <label for="multi-day">Multi-Day</label>
            </td>
          </tr>

          <!-- Hidden One-Day -->
            <tr>
              <td>
                <label for="date" [hidden] = "hiddenOneDay">Date</label>
              </td>
              <td>
                <input #date type="date" id="date" [hidden] = "hiddenOneDay">
              </td>
            </tr>
            <tr>
              <td>
                <label for="time" [hidden] = "hiddenOneDay">Time</label>
              </td>
              <td>
                <input #time type="time" id="time" [hidden] = "hiddenOneDay">
              </td>
            </tr>

          <!-- Hidden Multi Day -->
            <tr>
              <td>
                <label for="dateFrom" [hidden]="hiddenMultiDay">From</label>
              </td>
              <td>
                <input #from type="date" id="dateFrom" [hidden]="hiddenMultiDay">
              </td>
            </tr>
            <tr>
              <td>
                <label for="dateTo" [hidden]="hiddenMultiDay">To</label>
              </td>
              <td>
                <input #to type="date" id="dateTo" [hidden]="hiddenMultiDay">
              </td>
            </tr>

          <tr>
            <td>
              <label for="category">Category</label>
            </td>
            <td>
              <select (click)="getCategoryOfForm(category)" #category name="category" id="category">
                <option disabled selected value>-- select a category --</option>
                <option #appointment [hidden]="hiddenAppointmentMultiDay" value="appointment">Appointment</option>
                <option value="personal">Personal</option>
                <option value="sponsored-event">Sponsored Event</option>
              </select>
            </td>
          </tr>

          <!-- Hidden Appointment -->
            <tr>
              <td>
                <label for="details" [hidden]="hiddenAppointment">Details</label>
              </td>
              <td>
                <input #details type="text" id="details" [hidden]="hiddenAppointment">
              </td>
            </tr>

          <!-- Hidden Others -->
            <tr>
              <td>
                <label for="patient" [hidden]="hiddenOthers">Patient</label>
              </td>
              <td>
                <input #patient type="text" id="patient" [hidden]="hiddenOthers">
              </td>
            </tr>
            <tr>
              <td>
                <label for="reason" [hidden]="hiddenOthers">Reason</label>
              </td>
              <td>
                <input #reason type="text" id="reason" [hidden]="hiddenOthers">
              </td>
            </tr>

          

        </table>  
      </div>

      <div class="modal-footer">
        <table>
          <tr>
            <td>
              <button id="cancelButton" (click)="closeModal()">Cancel</button>
            </td>
            <td>
              <button id="saveButton" (click)="getFormValues(
                date, 
                time, 
                category,
                from,
                to,
                patient,
                reason,
                details
                )">Save</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>