<full-calendar #fullCalendar defaultView="dayGridMonth" 

    [plugins]="calendarPlugins"
    [events]="calendarEvents"
    (dateClick)="handleDateClick($event)"
    (eventClick)="handleEventClick($event)"
    [eventOrder]="orderSetting"
    [eventTimeFormat]="timeFormat"
    [slotLabelFormat]="labelFormat"
    [eventLimit]="true" 
></full-calendar>

<br><br>

<add-item #addItem
  (getValuesEvent)="getValuesFromAddNewItem($event)"
  (saveToCalendar)="addEvent()"
  [defaultDate]="defaultDateFromParent">
</add-item>
    
<br><br>

<view-item #viewItem></view-item>